.top-img-about{
  background-image: url(../images/about-top-img.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  height: 458px;
}

.about-text {
  font-size: 40px;
  color: white;
  top: 30%;
  position: relative;
  text-align: center;
  font-style: italic;
}

.top-text-about {
  text-align: center;
  position: initial;
    font-size: 40px;
}

.our-work-flex{
  display: flex;
  margin: 30px;
  margin: 70px 30px;
}

.our-work-text{
  width: 56%;
  line-height: 1.4;
}

.our-work-text p{
  margin: 0px;
}

.our-work-img{
  width: 100%;
  height: 265px;
  margin-left: 65px;
}

.team-flex{
  display: flex;
  justify-content: space-around;
  margin: 0px 30px 610px 30px;
}

.our-team-img {
  display: flex;
  width: 30%;
  height: 100px;
  flex-direction: column;
}

.name-color{
  color: rgb(116, 116, 116);
}

.about-images{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 23px;
  margin: 20px;
}

.about-images div{
  display: flex;
  height: 440px;
}

.about-images div img{
  width: 100%;
}
.top-text-team{
  text-align: center;
  font-size: 40px;
}