
.top-img-contact{
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 235px;
}

.contact-text{
  font-size: 45px;
  color: white;
  position: relative;
  text-align: center;
  top: 25%;
}

.contact-info{
  font-family: 'Average', serif;
position: relative;
  margin-left: 35px;
  font-size: 18px;
}

.contact-and-picture{
  display: flex;
}


#contactForm {
  padding: 2em;
    width: 50%;
  }

.input-contact {
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}
.contact-img-hand {
  width: 50%;
}

.img-hand {
  width: 70%;
  height: 84%;
  filter: brightness(111%);
  left: 10%;
  position: relative;

}
.button-submit {
  color: #715a30;
  font-family: 'Average', serif;
  font-size: 25px;
  background-color: transparent;
  border: 3px solid #715a30;
  padding: 10px 70px;
  margin-top: 50px;
}

button:hover{
    background-color: #715a3042;
    transition: 1s ease;
}

button:active{
  background-color: #d2d2d2;
}

label {
  display: block;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
}

label p{
  font-size: 15px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  text-align: left;
}

#message {
  padding-bottom: 90px;
}

  form button{
    text-align: center;
    position: relative;
  }

.footer-contact{
  margin-top: 190px;
}