
.top-img{
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  width: 100%;
  filter: brightness(70%);
  background-size: contain;
  height: 521px;
}

.contact-text{
  font-size: 40px;
  color: white;
  bottom: 434px;
  position: relative;
  text-align: center;
}

.contact-info{
  font-family: 'Average', serif;
  top: -230px;
  position: relative;
  margin-left: 35px;
  font-size: 18px;
}

.contact-and-picture{
  display: flex;
}


#contactForm {
  padding: 2em;
  margin-top: -215px;
  width: 50%;
  }

.input-contact {
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}
.contact-img-hand {
  width: 50%;
  margin-top: -150px;
}

.img-hand {
  width: 70%;
  height: 84%;
  filter: brightness(111%);
  left: 10%;
  position: relative;

}
.button-submit {

  border: solid 1px #a2a2a2;
  width: 200px;
  padding: 1rem;
  color: black;
  margin-top: 45px;
  cursor: pointer;
  border-radius: 0.2rem;
}

button:hover{
  background-color: #d2d2d2;
  transition: 1s;
}

button:active{
  background-color: #d2d2d2;
}



label {
  display: block;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
}

label p{
  font-size: 15px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  text-align: left;
}

#message {
  padding-bottom: 90px;
}

  form button{
    text-align: center;
    position: relative;
  }

.footer-contact{
  margin-top: 190px;
}