/*hamburger menu/menu*/

.hamburger {
  position: absolute;
  left: 330px;
  padding: 20px 20px 0px 0px;
}
nav, #hamburger-menu{
  display: none;
}
.fa-bars{
  font-size: 1.2em;
}
#hamburger-menu:checked ~ nav {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}
nav, #hamburger-menu{
  display: none;
}
nav {
  display: none;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}
nav a{
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  font-family: 'Average', serif;
}
nav a:hover{
  color: rgb(116, 116, 116);
}
nav li{
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}
nav ul{
  padding: 0px;
  display: grid;
}


/*top bar*/

body{
  margin: 0px;
}
.header{
  display: flex;
  justify-content: center;
}
.posts-link{
  position: relative;
  left: -560px;
  top: 25px;
  font-size: 20px;
}
.contact-about-link{
  position: absolute;
  top: 25px;
  left: 320px;
  font-size: 17px;
}
a{
  text-decoration: none;
  color: black;
}
.active{
  text-decoration: underline;
}
.heading{
  font-family: 'Baskervville', serif;
  color: #715a30;
  font-size: 40px;
}
.contact-about-link .posts-link{
  font-family: 'Average', serif;
}

/*footer*/
.subscribe-img{
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 458px;
}
.links {
  display: flex;
  justify-content: space-around;
  font-family: 'Average', serif;
  font-size: 20px;
  margin-top: 50px;
}
.links :hover{
  color: rgb(116, 116, 116);
}
.copyright{
  color: gray;
  margin-left: 20px;
}
.subscribe{
  top: 20%;
  position: relative;
  color: white;
  font-size: 40px;
  width: 69%;
  margin: 0px auto;
  justify-content: center;
  display: grid;
}
#email{
  text-align: center;
  position: relative;
  font-size: 40px;
  background-color: rgba(255,255,255,0.5);
  border: 3px solid rgb(255, 255, 255);
}
::placeholder{
  color: white;
  opacity: 1; 
  font-family: 'Average', serif;
  font-size: 30px;
}
.button-subscribe{
  position: relative;
  top: 110%;
  display: flex;
  margin: 0px auto;
  color: white;
  font-family: 'Average', serif;
  font-size: 30px;
  background-color: transparent;
  border: 3px solid white;
  padding: 10px 80px;
}
.button-subscribe:hover{
  background-color: rgba(255, 255, 255, 0.37);
  transition: 1s;
}
.form-error {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 2px;
  text-align: center;
  margin: 0px;
}
.subscribeForm {
  position: relative;
  top: 30%;
  gap: 0px;
  display: grid;
}

.label-subscribe {
  display: grid;
justify-content: center;
}

