.hamburger {
  position: absolute;
  left: 330px;
  padding: 20px 20px 0px 0px;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

nav, #hamburger-menu{
  display: none;
}

.fa-bars{
  font-size: 1.2em;
}

#hamburger-menu:checked ~ nav {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

nav, #hamburger-menu{
  display: none;
}

nav {
  display: none;
  flex-direction: column;
  list-style-type: none;
  background-color: #f9f9f9f1;
  justify-content: center;
  gap: 20px;
}

nav a{
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  font-family: 'Average', serif;
}

nav a:hover{
  color: rgb(116, 116, 116);
}

nav li{
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}

nav ul{
  padding: 0px;
  display: grid;
}

/*top bar*/

body{
  margin: 0px;
}

.header{
  display: flex;
  justify-content: center;
}

.posts-link{
  position: relative;
  left: -560px;
  top: 25px;
  font-size: 20px;
}

.contact-about-link{
  position: absolute;
  top: 25px;
  right: -560px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}


.active{
  text-decoration: underline;
}

.heading{
  font-family: 'Baskervville', serif;
  color: #715a30;
  font-size: 40px;
}

.contact-about-link .posts-link{
  font-family: 'Average', serif;
}

/*footer*/
.subscribe-img{
  width: 100%;
  filter: brightness(70%);
}



.links {
  display: flex;
  justify-content: space-around;
  font-family: 'Average', serif;
  font-size: 20px;
  margin: -100px 100px 45px;
}


.copyright{
  color: gray;
  margin-left: 20px;
}




.subscribe{
  bottom: 380px;
  position: relative;
  left: 6%;
  color: white;
  font-size: 40px;
  width: 65%;
  margin: 0px auto;
}
#email{
  text-align: center;
  position: relative;
  left: 33%;
  font-size: 40px;
  background-color: rgba(255,255,255,0.5);
  border: 3px solid rgb(255, 255, 255);
}
::placeholder{
  color: white;
  opacity: 1; 
  font-family: 'Average', serif;
  font-size: 30px;
}
.button-subscribe{
  color: white;
  font-family: 'Average', serif;
  font-size: 30px;
  background-color: transparent;
  bottom: 90px;
  position: relative;
  left: 498px;
  border: 3px solid white;
  padding: 10px 80px;
}
.button-subscribe:hover{
  background-color: rgba(255, 255, 255, 0.37);
  transition: 1s;
}
.form-error {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin-top: 2px;
  text-align: center;
}
.subscribeForm {
  bottom: 200px;
  position: relative;
}

.label-subscribe {
  bottom: 130px;
  position: relative;
}
