/*top image*/


.top-img{
  background-image: url(../images/index-top-img.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 521px;
}
.slogan-index{
  /* font-size: 40px; */
  color: white;
  top: 20%;
  position: relative;
  text-align: center;
}
.tip-button{
color: white;
font-family: 'Average', serif;
font-size: 30px;
background-color: transparent;
position: relative;
border: 3px solid white;
padding: 10px 80px;
left: 36%;
top: 35%;
}
.tip-button:hover{
  background-color: rgba(255, 255, 255, 0.37);
  transition: 1s;
}


/*carousel*/

.carousel-box{
  border:  solid black 3px;
  display: flex;
  padding: 40px;
  width: 10%;
  height: 215px;
  justify-content: center;
  margin-bottom: 100px;
  margin: 20px;
}
.latest-posts-carousel {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-left: 90px;
  margin-right: 50px;
  position: relative;
  margin-bottom: 60px;
}
.a-posts {
  width: 90%;
}
.post-img {
  height: 325px;
  width: 100%;
  object-fit: cover;
}
.latest-posts {
  position: relative;
  justify-content: center;
  display: grid;
  font-size: 40px;
}

/*arrows*/
.prev, .next {
  position: absolute;
  top: 945px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.44);
  color: #fff;
  font-size: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 26px;
}
.prev {
  left: 65px;
}
.next {
  right: 57px;
}
