@media (min-width:400px){
  .hamburger{
    display: none;
  }
}

@media (min-width:700px) {
  /*hamburger menu*/
  nav ul{
    display: flex;
    margin: 3px;
  }
  .checkbox{
    display: none;
  }
  nav{
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  nav a{
    color: black;
  }
  .hamburger{
    display: none;
  }

}

@media (max-width:700px){

  /*Global*/

 .top-img{
  height: 135px;
  width: 100%;
  object-fit: cover;
  }

  .top-img-posts{
    background-size: contain;
    height: 184px;
    width: 100%;
  }
  .slogan, .theme {
    font-size: 30px;
    top: 10%;
  }
  .heading{
    font-size: 25px;
    margin-left: 72px;
  }
  .header{
    flex-direction: column;
    justify-content: initial;
  }

  /*hamburger menu*/

  #hamburger-menu:checked ~ nav {
    display: block;
    position: inherit;
    padding-bottom: 10px;
  }

  
/*index*/

.prev,
.next{
  display: none;
}

.latest-posts-carousel {
  grid-template-columns: auto;
  margin: 0px;
  position: relative;
}

.latest-posts {
  font-size: 25px;
}
.slogan-index{
  font-size: 18px;
  top: 10%;
}
.tip-button{
font-size: 13px;
left: 15%;
top: 13%;
}
.tip-button:active{
  background-color: rgba(255, 255, 255, 0.37);
}




/*footer*/

  .contact-about-link{
    position: revert;
  }
  .links{
    font-size: 14px;
  }
  .links :active{
    color: rgb(116, 116, 116);
  }
  .copyright{
    font-size: 10px;
    margin-top: 20px;
  }
  .footer-contact {
    margin-top: 20px;
  }


/*Posts*/

  .posts-list{
    display: block;
    margin: 0px;
    margin: 60px 0px;
  }
  .post-container {
  
    width: 100%;
    margin-bottom: 72px;
    margin-left: 0px;
  }
  .a-posts{
    width: 100%;
  }
  .load:active{
    background-color: #715a3042;
  }
  

/*subscribe*/

.subscribe-img{
  height: 190px;
}
 .subscribe{
  font-size: 14px;
  top: 10%;
 }
 #email{
  font-size: 24px;
  border: 1px solid rgb(255, 255, 255);
 }
 input::placeholder{
  font-size: 10px;
 }
 .label-subscribe{
  justify-content: center;
  display: grid;
  top: -55%;
  position: relative;
 }
 .form-error{
  font-size: 14px;
  margin-bottom: -16px;
 }
.button-subscribe{
  font-size: 10px;
  border: 1px solid white;
  top: 25%;
}
.button-subscribe:active{
  background-color: rgba(255, 255, 255, 0.37);
}

/*contact*/

.top-img-contact{
  width: 100%;
  object-fit: cover;
}
.contact-text{
  font-size: 30px;
  top: 7%;
  }
.contact-img-hand{
  display: none;
}

.contact-info{
  margin: -260px 20px 20px 20px;
}

#contactForm {
    width: 100%;
}
.button-submit:active{
  color: #715a30;
}



/*about*/
.about-text{
  top: 10%;
  font-size: 25px;
}

.top-img-about{
  height: 135px;
}
.our-work-flex{
  margin: 0px 20px;
  flex-direction: column;
}
.our-work-text{
  width: 100%;
}
.our-work-img{
  margin: 30px 0px;
}
.team-name {
  font-size: 12px;
}
.team-flex{
  margin: 0px 0px 145px 0px;
}
.our-team-img{
  width: 25%;
}
.about-images{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  }
.about-images div {
  height: 100%;
}

/*Tip*/

.post-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 30px 25px;
}
.post-heading {
  font-size: 25px;
  margin: 15px 30px 0px 30px;
  text-align: center;
}

}