@media (min-width:400px){
  .hamburger{
    display: none;
  }
}

@media (min-width:700px) {
  /*hamburger menu*/
  nav ul{
    display: flex;
    margin: 3px;
  }
  .checkbox{
    display: none;
  }
  nav{
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  nav a{
    color: black;
  }
  .hamburger{
    display: none;
  }
}