@media (min-width:400px){
  .hamburger{
    display: none;
  }
}

@media (min-width:700px) {
  /*hamburger menu*/
  nav ul{
    display: flex;
    margin: 3px;
  }
  .checkbox{
    display: none;
  }
  nav{
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  nav a{
    color: black;
  }
  .hamburger{
    display: none;
  }

}

@media (max-width:700px){

  .top-img{
    background-size: contain;
  }
  .slogan, .theme {
    font-size: 30px;
    top: -639px;
  }
  .heading{
    font-size: 25px;
    margin-left: 72px;
  }



  .header{
    flex-direction: column;
    justify-content: initial;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
    position: inherit;
    padding-bottom: 10px;
  }

  .contact-about-link{
    position: revert;
  }




  .posts-list{
    top: -600px;
    display: block;
    margin: 0px;
  }

  .post-container {
  
      width: 100%;
      margin-bottom: 72px;
      margin-left: 0px;
  
  }

  .post-img {
    height: 100%;
  }

  .a-posts{
    width: 100%;
  }
.subscribe-img{
  height: 160px;
}

 .subscribe{
  bottom: 140px;
  font-size: 14px;
 }

 #email{
  font-size: 17px;
  border: 1px solid rgb(255, 255, 255);
 }

 input::placeholder{
  font-size: 10px;
 }

 .label-subscribe{
  justify-content: center;
  display: grid;
  bottom: 145px;
 }

 .form-error{
  font-size: 14px;
  margin-bottom: -16px;
 }

 .subscribeForm{
  top: 25px;
}

.button-subscribe{
  display: initial;
  font-size: 10px;
  bottom: 128px;
  left: 128px;
  border: 1px solid white;
  padding: 6px 40px;
  margin-top: 6px;
  
}

.links{
  margin: 0px;
  font-size: 14px;
  top: -60px;
  position: relative;
}

.copyright{
  font-size: 10px;
  margin-top: 20px;
}
.slogan-index{
  font-size: 20px;
  margin-top: -68px;
  top: auto;
  color: white;
  bottom: 434px;
  position: relative;
  text-align: center;
}
.tip-button{
  font-size: 20px;
  border: 1px solid white;
  padding: 8px 30px;
  left: 26%;
  bottom: 415px;
}

.contact-text{
  bottom: 535px;
}
.contact-img-hand{
  display: none;
}

.contact-info{
  margin: -290px 20px 20px 20px;
}

#contactForm {
  margin-top: -460px;
  width: 100%;
}

.about-text{
  bottom: 460px;
  font-size: 30px;
}
.top-text-about{
  bottom: 345px;
  position: relative;
}

.our-work-flex{
  margin: -345px 0px;
  flex-direction: column;
}

.our-work-text{
  width: 95%;
  margin: 0px 15px 0px 15px;
}

.our-work-img{
  height: 221px;
  margin: 15px 0px;
}

.team-flex{
  margin: 0px 0px 175px 0px;
  flex-direction: column;
  gap: 240px;
}

.our-team-img{
  width: 100%;
  margin-top: 365px;
}

.team-name {
  margin-left: 15px;
}
.top-text-team{
  top: 345px;
  position: relative;
  margin: 0px;
}


.about-images{
  grid-template-columns: auto;
  margin: 0px;
  top: 440px;
  position: relative;
}

.footer-about{
  bottom: -485px;
  position: relative;
}

.post-text {
  font-size: 15px;
  line-height: 1.5;
  margin: 0px 25px;
}

.post-heading {
  font-size: 25px;
  margin: 0px 30px 0px 30px;
}


}
