.post-container {
  width: 85%;
}
.a-posts {
  margin-top: 60px;
}

.post-img {
  height: 325px;
  width: 100%;
  object-fit: cover;
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-left: 40px;
  top: -150px;
  position: relative;
}

.top-img{
  background-image: url(../images/posts.jpg);
  background-repeat: no-repeat;
  width: 100%;
  filter: brightness(70%);
  background-size: cover;
  height: 627px;
}

.slogan, .theme{
  font-size: 40px;
  color: white;
  bottom: 434px;
  position: relative;
  text-align: center;
}

.theme{
  bottom:450px ;
}

.load {
  display: flex;
  margin: 0px auto;
  color: #715a30;
  font-family: 'Average', serif;
  font-size: 30px;
  background-color: transparent;
  bottom: 90px;
  position: relative;
  border: 3px solid #715a30;
  padding: 10px 80px;
}

.load:hover{
  background-color: #715a3042;
  transition: 1s ease;
}
